body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f8fa;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.header {
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.dark-mode {
  background-color: #333;
}

.profile_img-container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.profile_img {
  width: fit-content;
  border-radius: 100%;
}

/* Main content styling */
.main-content {
  flex: 1;
  padding: 40px;
  background-color: #f8fafc;
  overflow-y: auto;
}

/* Dark mode */
.dark-mode .navbar,
.dark-mode .sidebar,
.dark-mode .main-content {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-mode .main-content {
  background-color: #2d2d2d;
}

.task-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.task-input.dark-mode {
  background-color: #444;
  border-color: #555;
  color: #e0e0e0;
}

.task-delete-button {
  padding: 10px 20px;
  background-color: #c5eac6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.task-delete-button:hover {
  background-color: #4caf50;
}

.task-priority-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.task-priority-select.dark-mode {
  background-color: #444;
  border-color: #555;
  color: #e0e0e0;
}

.add-task-button.dark-mode {
  background-color: #3a6ea5;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-category {
  padding: 10%;
  background-color: black;
}

.task-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item˜tasklist:hover button {
  background-color: #4caf50;
}

.task-item:hover {
  cursor: pointer;
  background-color: #c5eac6;
}

.task-item.dark-mode {
  background-color: #3a3a3a;
}

.task-item.event-item:hover {
  background-color: #fff;
  cursor: default;
}

.task-priority {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
}

.priority-high {
  background-color: #e74c3c;
  color: #fff;
}

.priority-medium {
  background-color: #f1c40f;
  color: #fff;
}

.priority-low {
  background-color: #2ecc71;
  color: #fff;
}

.delete-task-button {
  padding: 5px 10px;
  background-color: #e74c3c;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-task-button:hover {
  background-color: #c0392b;
}

.toggle-switch {
  margin-left: auto;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  display: inline-block;
}

.toggle-switch label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

.toggle-switch input:checked + label::after {
  transform: translateX(20px);
}

.toggle-switch input:checked + label {
  background-color: #3498db;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #2980b9;
}

.sidebar {
  width: 250px;
  background-color: #edf3f0;
  height: calc(100vh - 60px); /* Adjust height to exclude navbar */
  position: fixed;
  top: 60px; /* Start the sidebar below the navbar */
  left: 0;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.profile-content {
  width: 20%;
  height: 100%;
  background-color: #2c2c2c;
}

@media (min-width: 768px) {
  .sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #edf3f0;
  }

  .main-content {
    padding: 40px;
    flex: 1;
  }
}

.task-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #f0f4f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}

.task-input {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  background-color: #ffffff;
  resize: none;
}

.task-input-icons {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.icon {
  font-size: 20px;
  color: #666;
  margin-left: 15px;
  cursor: pointer;
}

.icon ~ span {
  font-size: 16px;
  align-items: start;
  color: #ccc;
}

.add-task-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-task-button:hover {
  background-color: #45a049;
}

/* Navbar styling */
.navbar {
  width: 100%;
  background-color: #f8fafc;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
    top: 0;
    left: 0; */
  z-index: 1000;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #4caf50;
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between icons */
  white-space: nowrap; /* Prevent wrapping */
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.icon:hover {
  color: #4caf50;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar-right {
    gap: 10px;
  }
}

/* Dark mode */
.dark-mode .navbar {
  background-color: #333;
}

.dark-mode .logo {
  color: #fff;
}

.dark-mode .icon {
  color: #e0e0e0;
}
